	a {font-size:100%}
	p, ul li, blockquote {font-size:0.8em}
	code {font-size:0.7em; line-height:1.2}
	
	#switcher {display:none}
	
	#col_left {float:left; clear:left; width:145px; display:table-cell; padding: 0 15px}
	#col_middle {float:left; width:635px; padding-bottom:20px; display:table-cell; padding-right:15px} 
	#col_middle p {width:625px; padding-right:30px}
	#col_right {float:left; width:145px; padding-bottom:20px; clear:right; display:table-cell; padding: 0 15px}	
	#col_right img {padding:5px 0; clear:both; margin-bottom:20px}
	#copyright {font-size:0.75em}

	.quotation {border:0}	
	
	
	#welcome {width:100%; height:335px; border:0}
	#welcome .welcome_box {height:320px}
	#welcome p {display:inline; margin:0}
	#welcome_img {display:inline}
	
	#welcome p {width:300px}	
	#index .column {float:left; width:195px; margin:10px; padding:10px; border:0}
	#index .column p {width:160px; font-size:0.75em; line-height:1.5em}

	#footer_nav {height:10.0em}
	#footer_nav_container {width:900px; padding:15px; border:0; background-color:#EFEFEF}
	#footer_nav_container ul li {background-color:#EFEFEF}
	#footer_nav_container ul li {float:left; display:inline; padding:5px 25px}
	#footer_nav_container ul li ul {margin:0; padding:0}
	#footer_nav_container ul li ul li {float:none; display:block; padding:0; clear:both; font-size:100%}
	#footer_nav_container .main_menu_item li a {font-weight:normal}
	#footer_nav_container .main_menu_item span {color:#659BC2; font-weight:bold}	
	
	#computerskills {height:575px}
	#welcome p {width:280px}
	
	#contact .map {height:310px}	
	
	/*  thickbox  */
	.TB_overlayBG {filter:alpha(opacity=75);}
	#TB_HideSelect{filter:alpha(opacity=0); opacity: 0}
	#TB_iframeContent{_margin-bottom:1px;}	
	
	.sf-menu li li {font-size:100%}