       
.ribbon_home {
	float: left;
	position: relative;
	height: 45px;
	width: auto;
	left: -40px;
	top: 5px;
	background: #e44d26;
	-moz-box-shadow: 4px 4px 0 rgba(160,128,73,0,20);
	-khtml-box-shadow: 4px 4px 0 rgba(160,128,73,0,20);
	-webkit-box-shadow: 4px 4px 0 rgba(160,128,73,0,20);
	z-index: 2;
}
.ribbon_home h1 {
	display: block;
	padding: 0 25px 0 80px;
	color: #ffe0ca;
	font-size-adjust: 0.55;
	text-align: right;
	position: relative;
	top: -20px;
}
.triangle_home {
	position: relative;
	height: 0;
	width: 0;
	left: -60px;
	top: 30px;
	border-style: solid;
	border-width: 20px;
	border-color: transparent #635f5f transparent transparent;
	/*z-index: -1;*/
}
.ribbon {
	float: left;
	position: relative;
	height: 55px;
	width: auto;
	left: -60px;
	top: 5px;
	background: #e44d26;
	-moz-box-shadow: 4px 4px 0 rgba(160,128,73,0,20);
	-khtml-box-shadow: 4px 4px 0 rgba(160,128,73,0,20);
	-webkit-box-shadow: 4px 4px 0 rgba(160,128,73,0,20);
	z-index: 2;
}
.ribbon h1 {
	display: block;
	padding: 0 25px 0 80px;
	color: #ffe0ca;
	font-size-adjust: 0.55;
	text-align: right;
	position: relative;
	top: -20px;
}
.triangle {
	position: relative;
	height: 0;
	width: 0;
	left: -60px;
	top: 30px;
	border-style: solid;
	border-width: 20px;
	border-color: transparent #635f5f transparent transparent;
	/*z-index: -1;*/
}
