body {
	font-family: Arial, Georgia;
	font-size: 0.8em;
}
form fieldset {
	border: 1px solid #000;
	width: 500px;
}
form fieldset div {
	margin-bottom: 10px;
}
label {
	display: block;
	float: left;
	width: 100px;
}
div textarea {
	height: 120px;
	width: 280px;
}

#download_form .submit {
		width: 50px;
		margin: 15px auto;
	}
span.error {
	color: #fbb03b;
	display: block;
	margin-left: 200px;
	padding-top: 5px;
	font-size: 0.9em;
	font-weight: bold;
}
p.mand {
	font-size: 0.9em;
	margin-left: 70px;
}
#download_form input {
	color: #000;	
}
.thankyou {
	padding: 50px 50px 50px 0;
}
p.thankyou {
	font-size: 1.0em;
}