# AddOutputFilterByType DEFLATE text/html text/plain text/xml
# RewriteEngine on
# RewriteCond %{HTTP_REFERER} !^http://janetkulyk.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://janetkulyk.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.janetkulyk.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.janetkulyk.com$      [NC]

# AddType application/vnd.wap.xhtml+xml xhtml-mp
# AddType application/xhtml+xml xhtml
AddType image/x-icon .ico 

# Enable Apache's mod_expires Module
ExpiresActive On
ExpiresByType image/x-icon "access plus 1 months"