body {
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
	font-size: 1.5em;
}
p, a, li , div {
	font-size: 1.0em;
}
li {
	font-size: 0.9em;
}
h1 {
	text-align: center;
	padding: 8px 20px;
	background-color: #C00;
	color: white;
	border-top: 6px solid #500;
	border-bottom: 6px solid #500;
	margin: 20px auto;
	font-size: 1.5em;
}

h2 {
	text-align: center;
	color: #C00;
	margin: 15px auto;
}
p , .par{
	width: 600px;
	margin: 10px auto;
	/*overflow: hidden;
	white-space: nowrap;
	word-wrap: break-word;*/
	font-size: 0.9em;
}
ol {
	width: 600px;
	margin: 0 auto;
}
li {
	padding: 10px 0;
}


a:link {
	text-decoration: underline;
	color: blue;
}