h1 {
	font-size: x-small;
}
h2, p, a, li , div {
	font-size: xx-small;
}
h1 {
	padding: 0 2px;
	border-top: 2px solid #500;
	border-bottom: 2px solid #500;
}
h2 {
	color: #C00;
	margin: 0 auto;
	padding-top: 0;
}
p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #333;
	padding: 0 5px;
}
.par {
	padding: 0 5px;
	line-height: 1.2em;
}
li {
	padding: 0;
	margin: 0 0 0 15px;
}
a:link {
	text-decoration: underline;
	color: blue;
}
ol {
	padding: 0 0 0 5px;
}