body {
	background-color: #FFFDE5;
	font-size: 100%;
}
h2 {
	
}
p {
	color: brown;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.offer { 
	color: majenta;
	font-weight: bold;
}
a {
	text-decoration: underline;
	color: #D08B30;
}
li {
	padding: 10px 0;
}