body {
	background-color: #F0EFF7;
}

p {
	color: #333;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.offer { 
	color: #AC6FA1;
	font-weight: bold;
}
a {
	text-decoration: underline;
	color: #868116;
}
li {
	padding: 10px 0;
}