/* CSS Mobile Reset */
html, body, p, ul, ol, li , h1, h2 {
	margin: 0;
	padding: 0; 
	border: 0;
	color: #000;
	background: #fff;
	word-wrap: break-word;
}
body {
	font-size: 100%;
}
img { 
	border: 0; 
	max-width: 100%; 
}
table { 
	width: auto;
	border-collapse: collapse;
	border-spacing: 0; 
}	
/* end reset */

h1, h2 {
	text-align: center;
	margin: 0 auto;
}
h1 {
	background-color: #C00;
	color: #FFF;
	border-top: 2px solid #500;
	border-bottom: 2px solid #500;
}
h2 {
	text-align: center;
	color: #C00;
	margin: 15px auto;
}
p, .par {
	margin: 0;
}
p {
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: break-word;
	padding: 5px;
}
.par {
	padding: 5px;
	line-height: 1.5em;
}
ol, ul {
	width: 100px;
	margin: 0 0 0 5px;
	padding: 0 0 0 20px;
}
a {
	text-decoration: underline;
	cursor: pointer;
}
a:link {
   color: black;	
}
a:visited {
   color: green;	
}
a:focus {
   color: yellow;	
}
a:active {
   color: blue;	
}
a:hover {
   color: red;	
}