h1 {
	font-size: x-small;
}
h2, p, a, li , div {
	font-size: xx-small;
}
h1 {
	padding: 2px 0;
	border-top: 2px solid #500;
	border-bottom: 2px solid #500;
	text-align: center;
	margin: 0;
}
h2 {
	text-align: center;
	padding-top: 3px;
	margin: 0;
}
p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
p, .par {
	padding: 2px 5px;
	line-height: 1.2em;
}
ol {
	padding: 0 0 0 5px;
}
li {
	padding: 0;
	margin: 0 0 0 15px;
	line-height: 1.5em;
}
a:link {
	text-decoration: underline;
	color: blue;
}

