#header #slogan {position:relative; left:-6px}
#content #home #col_left #demo span {position:relative; left:18px; top:24px}

#content #content_top #bg_geek #col_right #txt_main {width:500px; position:relative; top:20px; left:85px}
#footer {padding-left:115px}

table#events td a {font: 1.0em Arial, Helvetica, sans-serif}
table tbody td a {font: 0.8em Arial, Helvetica, sans-serif !important}



