@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}
h1, h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
}
p, a, li , div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
}
h1 {
	padding: 8px 20px;
	margin: 0 auto;
	font-size: 1.5em;
	letter-spacing: 5px;
	background-color: #005A9C;
	color: #FFF;
	border-top: 4px solid #cf4f15;
	border-bottom: 4px solid #cf4f15;
}
h2 {
	text-align: center;
	margin: 1.0em auto;
	padding: 0.35em 0;
	color: #fff;
	background-color: #f34200;
	margin: 0 auto;
}
p {
	margin: 0 auto;
	padding: 0.7em 0;
	font-size: 0.9em;
}
ol, ul {
	margin: 0 auto;
}
li {
	font-size: 0.9em;
}
/* Float our three list items so they’re evenly spaced */
#nav li,
#footer li {
	display: inline;
	float: left;
	width: 33.333%;
}