/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
:focus {outline: 0}
ins {text-decoration: none}
del {text-decoration: line-through}
table {border-collapse: collapse; border-spacing: 0}
/*end reset.css  */

body {text-align:center}
a {font: 0.65em Arial, Helvetica, sans-serif; color:#EC0B8D; text-decoration:none}
a:visited {color:#EC0B8D; text-decoration:none}
a:hover {color:#EC0B8D; text-decoration:underline}
a:active {color:#EC0B8D; text-decoration:underline}

.left {text-align:left}
.center {text-align:center}

ul.gallery {list-style: none; padding:0px; overflow: auto; margin-top: 0px; clear:both}
ul.gallery li {width:107px; height:107px; float:left; padding:4px 0px}
ul.gallery li img {width:88px; height:88px; padding:5px; border:1px solid #CCC}

.spacer25 {height:25px; clear:both}
.spacer100 {height:100px; clear:both}
.top_h25 {padding-top:25px}

#mainWrapper {width:930px; margin-left:auto; margin-right:auto; text-align:center; clear:both}
#mainContainer {width:900px; font: 1em Georgia, "Times New Roman", Times, serif; color:#582700; margin-left:auto; margin-right:auto; clear:both}

#header {padding:35px 0px 25px 0px; clear:both; text-align:left}
#header #logo {height:100px; float:left; clear:left; width:301px; padding-left:34px}
#header #logotype {position:relative; left:-7px; top:31px; z-index:100}
#header #mainNav {float:left; clear:right; width:500px}
#header #mainNav ul li {display:inline; list-style:none; padding: 0px 12px; text-align:center; position:relative; top:-25px}
#header #mainNav ul li .navItem {position:relative; top:25px}
.bg_swirl, .bg_active {background:url(../img/swirl.gif) no-repeat bottom center}
#header #mainNav ul li a {font: 1.0em Arial, Helvetica, sans-serif; color:#EC0B8D; text-decoration:none}
#header #mainNav ul li a:visited {color:#EC0B8D; text-decoration:none}
#header #mainNav ul li a:hover {color:#EC0B8D; text-decoration:underline}
#header #mainNav ul li a:active {color:#EC0B8D; text-decoration:none}

#header_top {background:url(../img/header-top.jpg) no-repeat; width:960px; height:16px}
#header_bottom {background:url(../img/header-bot.jpg) no-repeat;width:930px; height:11px}
#banner_home {width:960px; height:249px; background:url(../img/banner_home.gif) no-repeat; margin:0px auto}
#banner_event_gallery {width:960px; height:120px; background:url(../img/banner_services.gif) no-repeat; margin:0px auto}
#banner_case_studies {width:960px; height:120px; background:url(../img/banner_casestudies.gif) no-repeat; margin:0px auto}
#banner_services {width:960px; height:120px; background:url(../img/banner_services.gif) no-repeat; margin:0px auto}
#banner_about {width:960px; height:220px; background:url(../img/banner_about.gif) no-repeat; margin:0px auto}
#banner_clientlist {width:925px; height:120px; background:url(../img/banner_clientlist.gif) no-repeat; margin:0px auto}



#content {clear:both}

#content #leftCol {float:left; clear:left; width:364px; background-color:#00FF33}
#content #leftCol #leftColWrapper {width:268px; padding-left:34px; padding-bottom:31px; background:url(../img/gradient.jpg) no-repeat; text-align:left}
#content #leftCol #subnav {text-align:left}
#content #leftCol #subnav ul {padding-top:25px}
#content #leftCol #subnav ul li {width:227px; padding:3px 0px; text-transform:uppercase}
#content #leftCol #subnav ul li a {color:#666}
#content #leftCol #subnav ul li a:visited {color:#666}
#content #leftCol #subnav ul li a:hover {color:#EC0B8D}
#content #leftCol #subnav ul li a:active {color:#EC0B8D}

#content #leftCol #quote {}
#content #leftCol #quote #quotation {width:227px; display:block; font: italic 0.9em/1.5em Georgia, "Times New Roman", Times, serif; color:#582700}
#content #leftCol #quote #quotation .quotes {font-size:3.0em; color:#EC0B8D; position:relative; top:15px; line-height:0px}
#content #leftCol #quote #author {width:227px; display:block; font: 0.7em/1.5em Georgia, "Times New Roman", Times, serif; color:#594747; padding-top:20px}
#content #leftCol #quote #ornament {background:url(../img/ornament.gif) no-repeat; height:19px; background-position:center; margin-top:25px}
#content #leftCol #learn_services {color:#582700; font: 1.1em/1.4em Georgia, "Times New Roman", Times, serif; padding-top:25px}
#content #leftCol #logo_bell  {margin-top:80px; margin-bottom:25px}
#content #leftCol #leftColWrapper a {}
#content #leftCol #leftColWrapper .more_testimonials {padding:15px 0px 10px 0px}
#content #leftCol .link {}

#content #rightCol {width:536px; float:left; clear:right; padding-bottom:45px}
#content #rightCol #rightColWrapper {padding-top:25px; padding-bottom:20px}
#content #rightCol #rightColWrapper h1 {font: 2.2em/1.1em Georgia, "Times New Roman", Times, serif; color:#582700; text-align:left; letter-spacing:-1px; padding-bottom:20px}
#content #rightCol #rightColWrapper p {width:482px; font: 1.1em/1.4em Georgia, "Times New Roman", Times, serif; color:#582700; text-align:left}
#content #rightCol #rightColWrapper #featured {width:482px; padding-top:51px; clear:both}
#content #rightCol #rightColWrapper #featured #column1, #content #rightCol #featured #column2 {float:left; width:164px; text-align:left}
#content #rightCol #rightColWrapper #featured #column13{float:left; width:151px; text-align:center}
#content #rightCol #rightColWrapper #featured #column1 .title, #content #rightCol #featured #column2 .title, #content #rightCol #featured #column3 .title {padding-bottom:15px; text-align:left; font: 0.7em/1.5 Arial, Helvetica, sans-serif; color:#582700; letter-spacing: 1px}
#content #rightCol #rightColWrapper #featured #column1 .link, #content #rightCol #featured #column2 .link, #content #rightCol #featured #column3 .link {text-align:left; padding-top:15px}
#content #rightCol #rightColWrapper #featured #column1 .link a, #content #rightCol #rightColWrapper #featured #column2 .link a, #content #rightCol #rightColWrapper #featured #column3 .link a {font-size:0.7em; line-height:1.5}
#content #rightCol #rightColWrapper #featured #column1 {clear:left}
#content #rightCol #rightColWrapper #featured #column3 {clear:right}
#content #rightCol #rightColWrapper #cases {width:480px; padding-top:40px; display:block; clear:both}
#content #rightCol #rightColWrapper #cases .spacer {height:20px; border-bottom:1px solid #D6CAC0; margin-bottom:20px; clear:both; position:relative; left:10px}
#content #rightCol #rightColWrapper #cases .case_img {float:left; width:175px; clear:left; text-align:left}
#content #rightCol #rightColWrapper #cases .case_title {font: italic 0.8em Georgia, "Times New Roman", Times, serif; color:#582700; padding-bottom:10px; color:#582700}
#content #rightCol #rightColWrapper #cases .case_desc {float:left; width:305px; clear:right; text-align:left}
#content #rightCol #rightColWrapper #cases .case_desc p {width:305px; font: 0.7em/1.5 Georgia, "Times New Roman", Times, serif; color:#594747}
#content #rightCol #rightColWrapper #cases .link {padding-top:20px}
#content #rightCol #rightColWrapper #services {width:480px; padding-top:40px; display:block; clear:both}
#content #rightCol #rightColWrapper #services .spacer {height:20px; border-bottom:1px solid #D6CAC0; margin-bottom:20px; clear:both; position:relative; left:10px}
#content #rightCol #rightColWrapper #services .case_img {float:left; width:175px; clear:right; text-align:right}
#content #rightCol #rightColWrapper #services .case_title {font: italic 0.8em Georgia, "Times New Roman", Times, serif; color:#582700; padding-bottom:10px; color:#582700}
#content #rightCol #rightColWrapper #services .case_desc {float:left; width:305px; clear:left; text-align:left}
#content #rightCol #rightColWrapper #services .case_desc p {width:305px; font: 0.7em/1.5 Georgia, "Times New Roman", Times, serif; color:#594747}
#content #rightCol #rightColWrapper #services .link {padding-top:20px}
#content #rightCol #rightColWrapper #about {text-align:left; display:block}
#content #rightCol #rightColWrapper #about .about_title {font: italic 0.8em Georgia, "Times New Roman", Times, serif; color:#582700; padding:20px 0px 10px 0px}
#content #rightCol #rightColWrapper #about p {font: 0.8em Georgia, "Times New Roman", Times, serif; line-height:1.5; color:#594747}
#content #rightCol #rightColWrapper #about ul {list-style-position:inside; list-style-type:disc; padding-bottom:20px}
#content #rightCol #rightColWrapper #about ul li {font: 0.8em Georgia, "Times New Roman", Times, serif; line-height:1.5; color:#594747}
#content #rightCol #rightColWrapper #about .about_link {font: 1.0em Georgia, "Times New Roman", Times, serif; padding:5px 0px}
#content #rightCol #rightColWrapper #about a {font: 1.0em Georgia, "Times New Roman", Times, serif}
#content #rightCol #rightColWrapper .event_gallery {width:536px; padding-top:20px; clear:both}
#content #rightCol #rightColWrapper .event_gallery .column {float:left; width:164px; text-align:left} 
#content #rightCol #rightColWrapper .event_gallery .column .link {text-align:left; padding-top:15px; text-transform:uppercase} 
#content #rightCol #rightColWrapper .event_gallery .column .link a {line-height:1.4} 
#content #rightCol #rightColWrapper #videoplayer {width:350px; float:left; clear:left}
#content #rightCol #rightColWrapper #videoplayer_comment {width:132px; float:left; clear:right; text-align:left; font: 0.8em Georgia, "Times New Roman", Times, serif; line-height:1.5; color:#594747}


#footer {display:block; clear:both; margin-bottom:31px}
#footer #footerWrapper {border-top: 3px solid #EC0B8D; padding-top:31px}
#footer #col_left {float:left; clear:left; width:365px; position:relative; left:49px; text-align:left}
#footer #col_right {float:left; clear:right; width:491px; text-align:left}
#footer #col_right #contactinfo {padding-bottom:25px}
#footer #col_right #contactinfo #contacttext, #footer #col_right #copyright{font: 0.85em/1.7em Georgia, "Times New Roman", Times, serif; color:#594747}
#footer #col_right #bottomNav {float:left; clear:right}
#footer #col_right #bottomNav ul {padding-bottom:31px}
#footer #col_right #bottomNav ul li {display:inline; list-style:none; padding-right:12px}