@charset "utf-8";
/* CSS Document */


body {
	text-align: center;	
	background: url(../img/bg.gif);
}
img {
	border: 1px solid #CCC;	
}
.page {
	width: 1000px;	
	margin: 0 auto;
	text-align: left;
	color: #666;
	position: relative;  
    padding: 50px;  
    background-color: #fff;  
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.page:before, .page:after  
{  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 12px;  
    bottom: 12px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    z-index: -1;  
}  
.page:after  
{  
    left: auto;  
    right: 12px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
}  
header, #mainContent, footer {
	display: block;	
	clear: both;
}
 p ,a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 3.2em;
	letter-spacing: -5px;
	margin-left: 10px;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	color: #000;
}
.photographer {
	letter-spacing: 2px;
	color: #F73535;
}
a {
	text-decoration: none;
	letter-spacing: -1px;
	color: #666;
}
ul li a, ul li span {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}
ul li ul li a{
	font-size: 1.0em;
	color: #999;
}

a:hover {
	
}
a:visite {
	
}
a: active {
	
}
p {
	font-size: 0.9em;	
}
aside {
	float: left;
	width: 250px;
	clear: left;	
}
nav {
	text-align: left;	
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;	
}
nav li {
	margin: 5px 10px;
}	
.content {
	float: left;
	width: 750px;
	margin: 0 0 20px 0;
}
.col1 {
	float: left;
	width:370px;
}
.col2 {
	float: left;
	width:370px;
}
.col_ord1 {
	float: left;
	width: 290px;
}
.col_ord2 {
	float: left;
	width: 460px;
}
footer {
	text-align: center;
	margin: 35px auto;
	border-top: 1px solid #ccc;
	padding: 15px 0 0 0;
}
p.home {
	margin: 200px 10px 0 0;
}
p.personality {
	text-align: right;
	margin: 10px 10px 0 0;
}
p.ordering {
	text-align: right;
	margin: 10px 10px 0 0;
}
p.copyright {
	margin: 15px 0 20px 0;	
}

/* galleries */
	#gallery {overflow:hidden}
	#gallery {border:0}	
	.gallery li {float:left; display:inline; width: 120px} 
	.gallery img {padding:1px; border: 1px solid #CCCCCC; background-color:#FFFFFF; margin:0.4em}/